services:
  dev:
    image: ${IMAGE_TAG:-sam-dev-container}
    container_name: ${CONTAINER_NAME:-sam-dev-container-active}
    ports:
      - "${HOST_PORTS:-3002}:${CONTAINER_PORTS:-3000}"
      - "${HOST_PORT_RANGE:-3010-3019}:${CONTAINER_PORT_RANGE:-3010-3019}"
    shm_size: 2gb
    hostname: ${HOSTNAME:-sam-dev}
    environment:
      - DISPLAY=host.docker.internal:0
      - MCP_GATEWAY_AUTH_TOKEN=${MCP_GATEWAY_AUTH_TOKEN}
      - ADO_ORG=${ADO_ORG}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    security_opt:
      - seccomp=custom-seccomp.json
    stdin_open: true
    tty: true
